@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Rampart+One&display=swap');

body {
    display: flex;
    flex-direction: column;

    height: 100%;
    overflow-x: hidden;

    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #404040;

    background-color: rgb(219, 219, 219);
}

  html,
  body {
    height: 100%;
  }

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #404040;
    cursor: pointer;
}
  
  html {
    height: 100%;
    font-size: 14px;
    scroll-behavior: smooth;
}
  
.container {
    max-width: 1076px;
    margin: 0 auto;
    padding: 0 24px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

figure.quote {
    background-color: #f9f9f9;
    padding: 10px 40px;
    border-radius: 26px;
}

.logo a {
    font-size: 40px;
    font-family: 'Rampart One', cursive;
    color: #34495E;
} 

.content {
    min-height: calc(100vh - 214px);
}

.about {

}

.about-pic {
    text-align: center;
}

.about-pic img {
    max-width: 100%;
    height: auto;
    max-height: fit-content;

}

footer {
    background-color: #f9f9f9;
    padding: 30px 0;
}

footer .top {
    display: flex;
    justify-content: space-between;

    padding-bottom: 20px;
    border-bottom: 1px solid #34495E;

    font-size: 16px;
    line-height: 24px;
}

footer .top .block {
    width: 30%;
    text-align: center;
}

footer .top .block:nth-child(1) {
    justify-content: flex-end;
}

footer .top .block .title {
    font-weight: 700;
    padding-bottom: 10px;
    letter-spacing: 2px;
}

footer .top .block ul {
    list-style: none;
}

footer .top .block ul li a {
    transition: color .2s ease-in;
}

footer .top .block ul li a:hover {
    color: rgb(253, 151, 151);
}

footer .bottom {
    text-align: center;
    font-size: 14px;
    color: rgb(121, 121, 121);
    padding-top: 20px;
}


@media (max-width: 960px) {
    header {
        flex-direction: column;
    }

    header .left {
        margin-bottom: 20px;
    }

    header blockquote {
        margin-bottom: 8px;
    }
}

@media (max-width: 840px) {
    footer .top .block {
        padding-bottom: 26px;
        width: 100%;
    }
    footer .top  {
        flex-direction: column;
    }
}